@import "../../../variables.scss";

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: $spacing-block;
  gap: $m-32;
  background-color: $color-light-grey;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $m-24;
}

@media (max-width: 872px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 572px) {
  .content-wrapper {
    padding: $spacing-block $spacing-inline-mobile;
  }
}
