<mat-drawer-container class="sidebar-container">
  <header class="header d-flex" aria-label="show or hide sidebar button">
    <button (click)="toggleDrawer()">
      <svg width="24" height="24" viewBox="0 0 32 31" class="hamburger">
        <rect width="32" height="2.5" x="0" y="5" />
        <rect width="32" height="2.5" x="0" y="16" />
        <rect width="32" height="2.5" x="0" y="27" />
      </svg>
    </button>
  </header>
  <mat-drawer #drawer class="sidebar-content-wrapper d-flex" mode="side">
    <app-sidebar (isSidebarOpen)="toggleDrawer()"></app-sidebar>
  </mat-drawer>
  <main (backdropClick)="drawer.close()" class="content-wrapper">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
