<mat-drawer-container class="sidebar-container">
  <header class="header d-flex" aria-label="show or hide sidebar button">
    <button (click)="toggleDrawer()" >
      <svg width="24" height="24" viewBox="0 0 32 31" class="hamburger">
        <rect width="32" height="2.5" x="0" y="5" />
        <rect width="32" height="2.5" x="0" y="16" />
        <rect width="32" height="2.5" x="0" y="27" />
      </svg>
    </button>
    <nav>
      <button type="button" aria-label="User Icon">
        <svg
          width="48"
          height="48"
          viewBox="0 0 134 134"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="67" cy="67" r="65" fill="#D1D1D1"></circle>
          <path
            d="M46.334 92.8335C46.334 87.3524 48.5114 82.0957 52.3871 78.22C56.2629 74.3442 61.5195 72.1668 67.0007 72.1668C72.4818 72.1668 77.7384 74.3442 81.6142 78.22C85.4899 82.0957 87.6673 87.3524 87.6673 92.8335H82.5006C82.5006 88.7226 80.8676 84.7802 77.9608 81.8733C75.054 78.9665 71.1115 77.3335 67.0007 77.3335C62.8898 77.3335 58.9473 78.9665 56.0405 81.8733C53.1337 84.7802 51.5007 88.7226 51.5007 92.8335H46.334ZM67.0007 69.5835C58.4369 69.5835 51.5007 62.6472 51.5007 54.0835C51.5007 45.5197 58.4369 38.5835 67.0007 38.5835C75.5644 38.5835 82.5006 45.5197 82.5006 54.0835C82.5006 62.6472 75.5644 69.5835 67.0007 69.5835ZM67.0007 64.4168C72.7098 64.4168 77.334 59.7927 77.334 54.0835C77.334 48.3743 72.7098 43.7502 67.0007 43.7502C61.2915 43.7502 56.6673 48.3743 56.6673 54.0835C56.6673 59.7927 61.2915 64.4168 67.0007 64.4168Z"
            fill="white"
          ></path>
          <defs>
            <filter
              id="filter0_d_597_3745"
              x="0"
              y="0"
              width="134"
              height="134"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              ></feColorMatrix>
              <feOffset></feOffset>
              <feGaussianBlur stdDeviation="2"></feGaussianBlur>
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
              ></feColorMatrix>
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_597_3745"
              ></feBlend>
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_597_3745"
                result="shape"
              ></feBlend>
            </filter>
          </defs>
        </svg>
      </button>
    </nav>
  </header>
  <mat-drawer #drawer class="sidebar-content-wrapper d-flex" mode="side">
    <app-sidebar (isSidebarOpen)="toggleDrawer()"></app-sidebar>
  </mat-drawer>
  <main (backdropClick)="drawer.close()">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
