@import "../variables.scss";

header.header {
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding-inline: $spacing-inline;
  height: $header-height;
  background-color: $color-dark-blue;
  button {
    svg {
      fill: $color-primary;
    }
  }
}

.sidebar-container {
  background-color: #fff;
}

.sidebar-content-wrapper {
  width: 232px;
}

.example-sidenav {
  padding: 20px;
}

@media (max-width: 572px) {
  header.header {
    padding-inline: $spacing-inline-mobile;
  }
}
