<section class="add-customer-wrapper">
  <h2>Add Customer</h2>
  <form
    action=""
    [formGroup]="addCustomerForm"
    (ngSubmit)="onSubmit(addCustomerForm.value)"
  >
    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <input
        matInput
        type="text"
        id="customerName"
        placeholder="Customer Name"
        formControlName="customerName"
        required
        minlength="4"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Customer Description</mat-label>
      <input
        matInput
        type="email"
        id="projectDesc"
        formControlName="projectDesc"
        required
        placeholder="Project Description"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Customer Price</mat-label>
      <input
        matInput
        type="number"
        id="price"
        formControlName="price"
        placeholder="Customer Price"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Status</mat-label>
      <mat-select required id="status" formControlName="status">
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions-wrapper">
      <button
        mat-raised-button
        class="cancel"
        color="warn"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        class="save"
        mat-raised-button
        [ngClass]="{ disabled: !addCustomerForm.valid }"
        disabled="{ disabled: !addCustomerForm.valid }"
        [disabled]="!addCustomerForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</section>
