@import "../../../variables.scss";

aside {
  margin: $spacing-block $m-32;
  position: relative;
  h2 {
    margin-bottom: $m-32;
    text-align: center;
  }
}

ul {
  flex-direction: column;
  align-items: flex-start;
  gap: $m-24;
}

.sidebar-routing-link {
  gap: $m-8;
}

.toggle-btn {
  position: absolute;
  top: -$m-24;
  right: -$m-16;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
