@import "../../../variables.scss";

aside {
  margin: $spacing-block $m-32;
  position: relative;
  h2 {
    margin-bottom: $m-24;
    text-align: center;
  }
}

ul {
  flex-direction: column;
  align-items: flex-start;
  gap: $m-16;
}

.toggle-btn {
  position: absolute;
  top: -$m-16;
  right: 0;
}
