@import "variables.scss";

html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
  background-color: $color-light-grey;
}

main {
  max-width: 2048px;
  margin-inline: auto;
}

button,
input,
textarea {
  font-family: inherit;
  background-color: transparent;
  border: transparent;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-drawer-content {
  min-height: 100vh;
}
.mat-drawer {
  z-index: 1 !important;
}

// panels styling

.panel-wrapper {
  background-color: $color-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100%;
}

.panel-header {
  padding: $m-16;
  justify-content: space-between;
  background-color: $color-light-blue-2;
  border-bottom: 1px solid $color-secondary;
}

.panel-list {
  flex-direction: column;
  padding: $m-16;
  gap: $m-16;
  li,
  &__each {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: $m-8;
  }
  &__info-wrapper {
    h4,
    p {
      line-height: 1.5;
    }
  }
  .more-info {
    padding: 4px $m-8;
    background-color: $color-light-blue-1;
    font-size: 14px;
    border-radius: 4px;
    color: $color-primary;
  }
}

.full-screen {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 100;
}

@media (max-width: 768px) {
  mat-drawer-content {
    margin-left: 0 !important;
  }
  .mat-drawer {
    z-index: 2 !important;
  }
}