html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@import "variables.scss";

header {
  width: 100%;
  justify-content: space-between;
  padding-inline: $spacing-inline;
  height: 72px;
  background-color: $color-dark-blue;
}

.sidebar-container {
  height: 100vh;
  background-color: #fff;
}

.sidebar-content-wrapper {
  width: 232px;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}
