$color-primary: #fff;
$color-secondary: #03001c;
$color-accent: #1d5d9b;
$color-light-grey: #eeeeee;
$color-dark-grey: #454545;
$color-dark-blue: #0b2447;
$color-light-blue-1: #75c2f6;
$color-light-blue-2: #8cc0de;
$header-height: 72px;
$spacing-inline: 2.5em;
$spacing-block: 2.5em;
$spacing-inline-mobile: 1em;
$m-32: 32px;
$m-24: 24px;
$m-16: 16px;
$m-8: 8px;
