@media (max-width: 768px) {
  .panel-wrapper {
    overflow: auto;
  }
}

.canvas-wrapper {
  min-height: 400px;
  margin: 0 auto;
  max-width: 90vw;
  overflow: auto;
  @media (max-width: 768px) {
    min-height: 300px;
  }
  @media (max-width: 576px) {
    min-height: 250px;
  }
}
