@import "../../../variables.scss";

.panel-list {
  padding-block-start: $m-24;
  background-color: $color-primary;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

tbody {
  tr:nth-child(odd) {
    background-color: $color-light-grey;
  }
}

table,
th,
td {
  border: 1px solid $color-secondary;
  border-collapse: collapse;
}

th,
td {
  padding: $m-16 $m-24;
}

@media (max-width: 872px) {
  .panel-list {
    overflow-y: hidden;
  }
  table {
    min-width: 750px;
    overflow: auto;
  }
  th,
  td {
    white-space: nowrap;
  }
}
