@import "../../../variables.scss";

$color-success: #4caf50;
$color-error: #f44336;
$color-warning: #ff9800;
$color-progress: #2196f3;

.active {
  background-color: $color-progress;
}

.pending {
  background-color: $color-warning;
}

.success {
  background-color: $color-success;
}

.cancelled {
  background-color: $color-error;
}

.panel-list {
  padding-block-start: $m-24;
  background-color: $color-primary;
}

.new-customer {
  padding: $m-8;
  background-color: $color-accent;
  color: $color-primary;
  border-radius: 4px;
  margin-block-end: $m-16;
  gap: $m-8;
  h3 {
    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 500;
  }
}

.status {
  width: fit-content;
  padding: 4px 8px;
  border-radius: $m-8;
}

.delete {
  padding: 4px 8px;
  border-radius: $m-8;
  background-color: $color-error;
  color: $color-primary;
  margin-inline-end: $m-8;
}

.edit {
  padding: 4px 8px;
  border-radius: $m-8;
  background-color: $color-accent;
  color: $color-primary;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

tbody {
  tr:nth-child(odd) {
    background-color: $color-light-grey;
  }
}

table,
th,
td {
  border: 1px solid $color-secondary;
  border-collapse: collapse;
}

th,
td {
  padding: $m-16 $m-24;
}

@media (max-width: 872px) {
  .panel-list {
    overflow-y: hidden;
  }
  table {
    min-width: 750px;
    overflow: auto;
  }
  th,
  td {
    white-space: nowrap;
  }
}
